<div class="container row">
  <h1>About</h1>
</div>
<hr>
<div class="about-container row container">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h3>About Us</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet labore sit quo totam rerum est repudiandae
      eligendi nihil! Quidem, sint maxime possimus repellat a consequatur reprehenderit ullam velit sit eaque.</p>
    <h3>How We Work</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet labore sit quo totam rerum est repudiandae
      eligendi nihil! Quidem, sint maxime possimus repellat a consequatur reprehenderit ullam velit sit eaque.</p>
    <h3>Contact Us</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet labore sit quo totam rerum est repudiandae
      eligendi nihil! Quidem, sint maxime possimus repellat a consequatur reprehenderit ullam velit sit eaque.</p>
    <h3>Privacy Policy</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet labore sit quo totam rerum est repudiandae
      eligendi nihil! Quidem, sint maxime possimus repellat a consequatur reprehenderit ullam velit sit eaque.</p>
  </div>
  <div class="col-md-1"></div>
</div>
